/* Reset */

:root {
  --accaunt: #eaeaea;
  --notifiche: #8edafc;
  --cerca: #fafafa;
  --my-message: #d5f9ba;
  --imput: #f3eeea;
  --background: #009688;
  --imposta: #b1b1b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black;
  background-color: lightgreen;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* layout */
.container {
  max-width: 1300px;
  height: 900px;
  margin: 20px auto;

}

.row {
  display: flex;
}

.p-relative {
  position: relative;
}

.spazi {
  width: 100%;
  padding: 10px;
}

img {
  object-fit: cover;
  width: 88%;
  border-radius: 50%;
}

i {
  font-size: 25px;
}

/* utility */
.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.f-column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.icon {
  width: 60px;
}

.accaunt {
  background-color: var(--accaunt);
  width: 100%;
  height: 75px;
}

/* display */
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}


/* main */
/* Contatti e chat */
.row .contacts {
  max-width: 390px;
  height: 900px;
  width: 100%;
}

.row .chat {
  width: 910px;
  height: 900px;

}

/* /Contatti e chat */

/* contatti */

.contacts .notifiche {
  width: 100%;
  height: 80px;
  background-color: var(--notifiche);
}

.contacts .cerca {
  width: 100%;
  height: 50px;
  background-color: var(--cerca);
}

.contacts .contatti {
  width: 100%;
  height: 695px;
  overflow: scroll;
}

/* dettaggli */
.imposta i {
  padding: 5px;
  color: var(--imposta);
}

.notifiche .icon {
  background-color: white;
  border-radius: 50%;
  justify-content: center;
}

.notifiche .icon i {
  color: var(--notifiche);
  font-size: 21px;
}

.notifiche .attiva{
padding-left: 10px;
}
.notifiche .attiva h3{
font-size: 15px;
padding-bottom: 5px;
}
.notifiche .attiva a{
font-size: 13px;
}

.cerca .search i{
  color: var(--imposta);
  font-size: 18px;
  padding: 8px;
}

.cerca .nuova input{
border: white;
width: 340px;
padding: 10px;
color: var(--imposta);
}
/* /dettaggli */

/* /contatti */

/* chat */

.chat .text {
  width: 100%;
  height: 750px;
  overflow: scroll;
}

.chat .imput {
  width: 100%;
  height: 75px;
}

/* chat */

/* responsive */
/* Tablet */
@media screen and (max-width: 992px) {
  .row .contacts {
    max-width: 100px;
    width: 100%;
  }

  /* contatti */
  .contacts .accaunt{
  justify-content: center;
  }
  .contacts .notifiche {
    display: none;
  }
  
  .contacts .cerca {
    display: none;
  }
  
  .contacts .contatti {
    height: 825px;
  }
  
  .contacts .contatti .name,
  .clock {
    display: none;
  }
  .contacts .accaunt .imposta{
  display: none;
  } 
  /* /contatti */
}

/* /Tablet */
/* mobile */
@media screen and (max-width:542px) {
  .row .contacts {
    display: none;
  }

  /* chat */
  .row .chat {
    width: 542px;
    height: 900px;
  }

  .chat .imput .imposta {
    display: none;
  }

  .chat .imput .emoji,
  .audio {
    display: none;
  }

  /* /chat */
}

/* /mobile */